ansible/*.retry
.DS_Store
ansible/.DS_Store
**/omeroweb-install-*
**/centos7*/**
**/centos8*/**
**/ubuntu1804-*/**
**/ubuntu2004-*/**
**/debian9-*/**
**/debian10-*/**
**/osx*/**
**/doc/**
**/docs/_build
*.pyc
