ansible/*.retry
.DS_Store
ansible/.DS_Store
**/omeroweb-install-*
**/centos7*/**
**/centos8*/**
**/ubuntu1804-*/**
**/ubuntu2004-*/**
**/ubuntu2204-*/**
**/debian10-*/**
**/osx*/**
**/rockylinux9-*/**
**/doc/**
