OMERO_USER=${OMERO_USER:-{{ omero_user }}}

OMEROVER=${OMEROVER:-{{ omero_version }}}

WEBSESSION=${WEBSESSION:-{{ web_session }}}

WEBPREFIX=${WEBPREFIX:-{{ default.web_prefix }}}
WEBPORT=${WEBPORT:-{{ default.web_port }}}
WEBSERVER_CONF=${WEBSERVER_CONF:-{{ default.web_server_conf }}}
WEBSERVER_NAME=${WEBSERVER_NAME:-{{ default.web_server_name }}}