{% if doc %}
This is an example walkthrough for installing OMERO.web decoupled from the OMERO.server in a **virtual environment** using OMERO.py and a dedicated system user. Installing OMERO.web in a virtual environment is the preferred way. For convenience in this walkthrough the main OMERO.web configuration options have been defined as environment variables. When following this walkthrough you can either use your own values, or alternatively use the following ones::

OMERO_USER={{ omero_user }}
{% if not doc %}
OMEROVER={{ omero_version }}
{% endif %}
{% if web_session %}
WEBSESSION={{ web_session }}
{% endif %}
{% if default.web_prefix %}
WEBPREFIX={{ default.web_prefix }}
{% endif %}
WEBPORT={{ default.web_port }}
WEBSERVER_NAME={{ default.web_server_name }}
{% else %}
OMERO_USER=${OMERO_USER:-{{ omero_user }}}

OMEROVER=${OMEROVER:-{{ omero_version }}}

WEBSESSION=${WEBSESSION:-{{ web_session }}}

WEBPREFIX=${WEBPREFIX:-{{ default.web_prefix }}}
WEBPORT=${WEBPORT:-{{ default.web_port }}}
WEBSERVER_NAME=${WEBSERVER_NAME:-{{ default.web_server_name }}}
{% endif %}
