{% if doc %}
To find out more about the maximum number of simultaneous clients, see `Gunicorn worker-connections <https://gunicorn.org/asgi/#worker-connections>`_. Additional settings can be configured by changing the following properties::

    omero config set omero.web.wsgi_worker_class gevent
    omero config set omero.web.wsgi_worker_connections 1000
    omero config set omero.web.application_server.max_requests 0
{% endif %}
