{% if doc %}
If required, first create a local system user {{ omero_user }} and create the homedir too :file:`{{ omero_user_home_dir }}`::

{% else %}
#!/bin/bash

set -e -u -x
{% endif %}
{% if doc %}
useradd -m {{ omero_user }}
{% else %}
if [ -z "$(getent passwd {{ omero_user }})" ]; then
    useradd -m {{ omero_user }}
fi
{% endif %}

chmod a+X {{ omero_user_home_dir }}
