{% if doc %}
## Create User {{ omero_user }}, homedir {{ omero_user_home_dir }}
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

if [ -z "$(getent passwd {{ omero_user }})" ]; then

    useradd -m {{ omero_user }}

fi

chmod a+X {{ omero_user_home_dir }}

