{% if doc %}
 Additional settings can be configured by changing the properties below. Before changing the properties, run ``export PATH=/opt/omero/web/venv3/bin:$PATH``:

- :property:`omero.web.application_server.max_requests` to 500

- :property:`omero.web.wsgi_workers` to (2 x NUM_CORES) + 1

  .. note::
      **Do not** scale the number of workers to the number of clients
      you expect to have. OMERO.web should only need 4-12 worker
      processes to handle many requests per second.

- :property:`omero.web.wsgi_args` Additional arguments. For more details
  check `Gunicorn Documentation <https://docs.gunicorn.org/en/stable/settings.html>`_.

{% else %}
#!/bin/bash

set -e -u -x
export PATH=/opt/omero/web/venv3/bin:$PATH

omero config set omero.web.application_server.max_requests 500
omero config set omero.web.wsgi_workers 3


{% endif %}