{% if doc %}
Additional settings can be configured by changing the properties below. Before changing the properties, run ``export PATH=/opt/omero/web/venv3/bin:$PATH``:

- :property:`omero.web.wsgi_workers` to (2 x NUM_CORES) + 1

  .. note::
      **Do not** scale the number of workers to the number of clients
      you expect to have. OMERO.web should only need 4-12 worker
      processes to handle many requests per second.

- :property:`omero.web.wsgi_args` Additional arguments. For more details
  check `Gunicorn Documentation <https://gunicorn.org/settings/>`_. For example to enable **debugging**, run the following command::

      omero config set omero.web.wsgi_args -- "--log-level=DEBUG --error-logfile={{ omero_user_web_dir }}/var/log/error.log"

{% else %}
#!/bin/bash

set -e -u -x
export PATH=/opt/omero/web/venv3/bin:$PATH

omero config set omero.web.wsgi_workers 3


{% endif %}
