{% if doc %}

**The following steps are run as the {{ omero_user }} system user.**

Install OMERO.web::
{% else %}
#!/bin/bash

set -e -u -x

OMEROVER=${OMEROVER:-{{ omero_version }}}

{% endif %}

{% if doc %}
cd {{ omero_user_home_dir }}
curl -o OMERO.py.zip -L https://downloads.openmicroscopy.org/latest/omero/py.zip
unzip -q OMERO.py*
{% else %}
{{ virtualenv_path }}/bin/omego download --ice "{{ ice_version }}" --branch "${OMEROVER}" py
{% endif %}

zip=$(ls OMERO.py*.zip)
rm -f $zip
{% if doc %}
ln -s OMERO.py-* OMERO.py
{% else %}
if [ ! -d "{{ omero_user_home_dir }}/OMERO.py" ]; then
    mv $(find . -name 'OMERO.py*' -type d) {{ omero_user_home_dir }}/OMERO.py
fi
{% endif %}

