{% if doc %}
*Recommended*: Install `Django Redis <https://github.com/jazzband/django-redis>`_::
{% else %}
#!/bin/bash

set -e -u -x

{% endif %}

{{ virtualenv_path }}/bin/pip install 'django-redis==5.0.0'
