{% if doc %}
Install `WhiteNoise <http://whitenoise.evans.io/>`_::
{% else %}
#!/bin/bash

set -e -u -x

export OMERODIR=$OMERODIR

{% endif %}

{% if doc %}
. {{ virtualenv_path }}/bin/activate
{% else %}
set +u
. {{ virtualenv_path }}/bin/activate
set -u
{% endif %}

pip install --upgrade 'whitenoise<4'
