{% if doc %}
This requires more initial work but in the future you can automatically regenerate your OMERO.web configuration and your additional configuration settings will still apply.

.. note::
    If you need help configuring your firewall rules, see the
    :doc:`/sysadmins/server-security` page.

{% endif %}