{% if doc %}
## Configure OMERO.web and generate nginx template
{% else %}
#!/bin/bash

set -e -u -x

WEBPREFIX=${WEBPREFIX:-{{ web_prefix }}}
WEBPORT=${WEBPORT:-{{ web_port }}}
WEBSERVER_CONF=${WEBSERVER_CONF:-{{ web_server_conf }}}
WEBSERVER_NAME=${WEBSERVER_NAME:-{{ web_server_name }}}
{% endif %}

set +u
source {{ omero_user_home_dir }}/omerowebvenv/bin/activate
set -u

if [[ $WEBPREFIX = *[!\ ]* ]]; then
    {{ omero_user_home_dir }}/OMERO.py/bin/omero config set omero.web.prefix "${WEBPREFIX}"
    {{ omero_user_home_dir }}/OMERO.py/bin/omero config set omero.web.static_url "${WEBPREFIX}/static/"
fi

{{ omero_user_home_dir }}/OMERO.py/bin/omero config set omero.web.application_server wsgi-tcp
{{ omero_user_home_dir }}/OMERO.py/bin/omero web config "${WEBSERVER_CONF}" --http "${WEBPORT}" --servername "${WEBSERVER_NAME}" > {{ omero_user_home_dir }}/nginx.conf.tmp

cat {{ omero_user_home_dir }}/nginx.conf.tmp
