{% if doc %}
Configure OMERO.web and create the NGINX OMERO configuration file to be included in a system-wide NGINX configuration by redirecting the output of the command ``omero web config nginx`` below into a file::

export PATH={{ virtualenv_path }}/bin:$PATH

{% else %}
#!/bin/bash

set -e -u -x

WEBPREFIX=${WEBPREFIX:-{{ default.web_prefix }}}
WEBPORT=${WEBPORT:-{{ default.web_port }}}
WEBSERVER_NAME=${WEBSERVER_NAME:-{{ default.web_server_name }}}

export OMERODIR=$OMERODIR
export PATH={{ virtualenv_path }}/bin:$PATH

if [[ $WEBPREFIX = *[!\ ]* ]]; then
    omero config set omero.web.prefix "{{ web_prefix or '${WEBPREFIX}' }}"
    omero config set omero.web.static_url "{{ web_prefix or '${WEBPREFIX}' }}/static/"
fi

{% endif %}

omero config set omero.web.application_server wsgi-tcp
omero web config nginx --http "{{ web_port or '${WEBPORT}' }}" --servername "{{ web_server_name or '${WEBSERVER_NAME}' }}" > {{ omero_user_web_dir }}/nginx.conf.tmp
