{% if doc %}
To start the OMERO.web client run::

# The following source command is not required if installed outside a virtual environment
source {{ virtualenv_path }}/bin/activate

OMERO.py/bin/omero web start
{% endif %}
