{% if doc %}
To find out more about the number of worker threads for handling requests, see `Gunicorn threads <https://gunicorn.org/design/#how-many-threads>`_. Additional settings can be configured by changing the following properties::

    omero config set omero.web.wsgi_worker_class
    omero config set omero.web.wsgi_threads $(2-4 x NUM_CORES)

{% endif %}
