{% if doc %}
Additional settings can be configured by changing the following properties:

- The number of worker threads for handling requests, see
  `Gunicorn threads <https://docs.gunicorn.org/en/stable/settings.html#threads>`_ ::

      omero config set omero.web.wsgi_worker_class
      omero config set omero.web.wsgi_threads $(2-4 x NUM_CORES)

{% endif %}
