{% if doc %}
Install VirtualEnv (run as root)::
{% else %}
#!/bin/bash

set -e -u -x

{% endif %}

virtualenv {{ virtualenv_path }} {% if system_site_packages %}--system-site-packages{% endif %}

{{ virtualenv_path }}/bin/pip install --upgrade omego