{% if doc %}
**The following steps are run as root.**

Install in the virtualenv created previously::
{% else %}
#!/bin/bash

set -e -u -x

{% endif %}

{% if system_site_packages %}
{{ virtualenv_path }}/bin/pip install --upgrade -r {{ omero_user_home_dir }}/OMERO.py/share/web/requirements-py27.txt
{% else %}
{{ virtualenv_path }}/bin/pip install --upgrade -r {{ omero_user_home_dir }}/OMERO.py/share/web/requirements-py27-all.txt
{% endif %}
