{% if doc %}
Create a virtual environment. This is optional but in the rest of the walkthrough we will assume that a virtual environment has been created::
{% else %}
#!/bin/bash

set -e -u -x

{% endif %}

virtualenv {{ virtualenv_path }} {% if system_site_packages %}--system-site-packages{% endif %}

{% if not doc %}
{{ virtualenv_path }}/bin/pip install --upgrade omego
{% endif %}
