{% if doc %}
*Optional*: Configure the cache::
{% else %}
#!/bin/bash

set -e -u -x

export PATH={{ virtualenv_path }}/bin:$PATH
{% endif %}

omero config set omero.web.caches '{"default": {"BACKEND": "django_redis.cache.RedisCache","LOCATION": "redis://127.0.0.1:6379/0"}}'
omero config set omero.web.session_engine 'django.contrib.sessions.backends.cache'
