{% if doc %}
A number of apps are available to add functionality to OMERO.web, such as :omero:`OMERO.figure <figure/>` and :omero:`OMERO.iviewer <iviewer/>`. See the main website for a :omero:`list of released apps <apps/>`. These apps are optional and can be installed, as the **root user**, via :program:`pip` to your OMERO.web virtual environment and configured as the **{{ omero_user }} system user**, at any time.
{% endif %}
