{% if doc %}
Install Python Redis dependencies and configure OMERO.web (run as {{ omero_user}})::
{% else %}
#!/bin/bash

set -e -u -x

{% endif %}

{% if doc %}
source {{ virtualenv_path }}/bin/activate
{% else %}
set +u
source {{ virtualenv_path }}/bin/activate
set -u
{% endif %}

pip install --upgrade django-redis>=4.4

{{ omero_user_home_dir }}/OMERO.py/bin/omero config set omero.web.session_engine 'django.contrib.sessions.backends.cache'
{{ omero_user_home_dir }}/OMERO.py/bin/omero config set omero.web.caches '{"default": {"BACKEND": "django_redis.cache.RedisCache","LOCATION": "redis://127.0.0.1:6379/0"}}'
