{% if doc %}
Install ZeroC IcePy {{ ice_version }}::

{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}
{{ virtualenv_path }}/bin/pip install https://github.com/glencoesoftware/zeroc-ice-py-linux-x86_64/releases/download/20240202/zeroc_ice-3.6.5-cp312-cp312-manylinux_2_28_x86_64.whl
