{% if doc %}
Install ZeroC IcePy {{ ice_version }}. IcePy is managed by PyPI_, a package management system used to install and manage software packages written in Python. IcePy and will be installed as part of the OMERO.web requirements::
{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}

apt-get -y install build-essential python-dev

apt-get -y install libssl-dev libbz2-dev libmcpp-dev libdb++-dev libdb-dev libdb-java
