{% if doc %}
Start up services (run as root)::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

{% if web_session %}
service redis start
{% endif %}

{% if not doc %}
#service crond start # Doesn't work in Docker
{% endif %}
cd /bin
rm sh
ln -s bash sh

cron
service nginx start
service omero-web restart
{% if not doc %}
exec bash
{% endif %}
