#!/bin/bash

set -e -u -x

{% include 'common/arg_vars.j2' with context %}

path=`dirname $0`/{{ os }}-ice{{ ice_version }}

{% if omero_user %}
bash $path/create_user.sh
{% endif %}

# install other dependencies
bash $path/deps.sh

bash $path/virtualenv.sh

# install ZeroC IcePy
bash $path/deps_ice{{ ice_version }}.sh

# install OMERO.web
bash $path/install.sh

su - {{ omero_user }}  -c "OMERODIR=$OMERODIR WEBPORT=$WEBPORT WEBPREFIX=$WEBPREFIX WEBSERVER_CONF=$WEBSERVER_CONF WEBSERVER_NAME=$WEBSERVER_NAME bash $path/omeroweb_configure.sh"

if [[ $WEBSESSION = *[!\ ]* ]]; then
    bash $path/deps_web_session.sh
    bash $path/install_web_session.sh
    su - {{ omero_user }}  -c "OMERODIR=$OMERODIR bash $path/web_session_configure.sh"
fi

bash $path/install_cors.sh

su - {{ omero_user }}  -c "OMERODIR=$OMERODIR bash $path/cors_configuration.sh"


bash $path/install_whitenoise.sh

su - {{ omero_user }}  -c "OMERODIR=$OMERODIR bash $path/whitenoise_configuration.sh"

bash $path/nginx.sh

{% if selinux %}
bash $path/selinux.sh
{% endif %}

{% if daemon %}
bash $path/daemon.sh
{% endif %}
