{% import "macros.j2" as tools with context %}
{{ doc_conf.note }}
{{ doc_conf.header }}
{{ doc_conf.link_install }}

{% set path = 'common/introduction.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% if omero_user %}
{% macro style() %}{% include 'common/create_user.sh.j2' ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = os + '/init.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.prerequisites }}
{% if os != 'osx' %}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% endif %}
{% set path = os + '/deps_ice' + ice_version + '.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}

{% set path = os + '/deps.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}

{% if web_session %}
{% if os != 'osx' %}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}
{% set path = os + '/deps_web_session.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{{ doc_conf.virtual_env }}
{% if os != 'osx' %}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% macro style() %}{% include 'common/virtualenv.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.web_install }}
{% if os != 'osx' %}
{% set path = 'common/run_as_omero.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% macro style() %}{% include 'common/install.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% macro style() %}{% include 'common/virtualenv2.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.web_configuration }}
{% if os != 'osx' %}
{% set path = 'common/run_as_omero.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = 'common/arg_vars.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% macro style() %}{% include 'common/omeroweb_configure.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{% macro style() %}{% include 'common/customization.j2' with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.gunicorn_configuration }}
{% macro style() %}{% include 'common/gunicorn.j2' with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.standalone_web }}
{% macro style() %}{% include 'common/install_whitenoise.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}
{% macro style() %}{% include 'common/whitenoise_configuration.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.nginx_configuration }}
{% if os != 'osx' %}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = os + '/nginx.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{{ doc_conf.web_run }}
{% if os != 'osx' %}
{% set path = 'common/run_as_omero.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% endif %}
{% set path = 'common/run_web.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% if daemon %}
{% if os != 'osx' %}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% if os == 'centos7' %}
{% set path = os + '/omero-web-systemd.service.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}
{% if os == 'ubuntu' or os == 'debian' %}
{% set path = os + '/omero-web-init.d.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = os + '/daemon.sh.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% if os == 'ubuntu' or os == 'osx' or  os == 'debian' %}
{% set path = os + '/run.sh.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{{ doc_conf.maintenance }}
{% if os != 'osx' %}
{% set path = 'common/run_as_omero.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = 'common/maintenance.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% if selinux %}
{{ doc_conf.sel }}
{% set path = 'common/run_as_root.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% set path = os + '/selinux.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

