OMERO.web walkthrough installation {{ os }}
===========================================


{% set path = os + '/init.sh.j2' %}
{% include path ignore missing with context %}


{% if omero_user %}
{% include 'common/create_user.sh.j2' ignore missing with context %}
{% endif %}

{% set path = os + '/deps_ice' + ice_version + '.sh.j2' %}
{% include path with context %}


{% set path = os + '/deps.sh.j2' %}
{% include path with context %}


{% set path = os + '/deps_web_session.sh.j2' %}
{% include path with context %}


{% include 'common/virtualenv.sh.j2' with context %}


{% include 'common/omeroweb_configure.sh.j2' with context %}


{% set path = os + '/nginx.sh.j2' %}
{% include path ignore missing with context %}


{% set path = os + '/selinux.sh.j2' %}
{% include path ignore missing with context %}


{% set path = os + '/daemon.sh.j2'%}
{% include path ignore missing with context %}
