{% import "macros.j2" as tools with context %}
{{ doc_conf.header }}

{% set path = 'common/arg_vars.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% set path = os + '/init.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% if omero_user %}
{% macro style() %}{% include 'common/create_user.sh.j2' ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% set path = os + '/deps_ice' + ice_version + '.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}

{% set path = os + '/deps.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}

{% if web_session %}
{% set path = os + '/deps_web_session.sh.j2' %}
{% macro style() %}{% include path with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% macro style() %}{% include 'common/virtualenv.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{% macro style() %}{% include 'common/omeroweb_configure.sh.j2' with context %}{% endmacro %}
{{ style()|indent }}

{% set path = os + '/nginx.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}

{% if selinux %}
{% set path = os + '/selinux.sh.j2' %}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% if daemon %}
{% set path = os + '/daemon.sh.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}

{% if os == 'centos7' %}
{% set path = os + '/omero-web-systemd.service.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}
{% if os == 'ubuntu' %}
{% set path = os + '/omero-web-init.d.j2'%}
{% macro style() %}{% include path ignore missing with context %}{% endmacro %}
{{ style()|indent }}
{% endif %}