{% if doc %}
Install ZeroC IcePy {{ ice_version }}::
{% else %}
#!/bin/bash

set -x

# ZeroC Ice 3.6
{% endif %}

{{ virtualenv_path }}/bin/pip install --upgrade https://github.com/ome/zeroc-ice-py-debian9/releases/download/0.2.0/zeroc_ice-3.6.5-cp35-cp35m-linux_x86_64.whl
