{% if doc %}
*Recommended*: if you wish to use the Redis cache, install Redis::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

dnf -y install redis

systemctl enable redis.service

{% if doc %}
systemctl start redis.service
{% else %}
if [ ! -f /.dockerenv ]; then
    systemctl start redis.service
fi
{% endif %}
