{% if doc %}
Install dependencies::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

{% if doc %}
    if grep -q "Rocky" /etc/redhat-release; then
        dnf -y install 'dnf-command(config-manager)'
        dnf config-manager --set-enabled crb
    fi
    if grep -q "Red Hat" /etc/redhat-release; then
        subscription-manager repos --enable codeready-builder-for-rhel-9-$(arch)-rpms
    fi
    cat <<EOF > /etc/yum.repos.d/nginx.repo
    [nginx-stable]
    name=nginx stable repo
    baseurl=http://nginx.org/packages/centos/\$releasever/\$basearch/
    gpgcheck=1
    enabled=1
    gpgkey=https://nginx.org/keys/nginx_signing.key
    module_hotfixes=true
    EOF
{% else %}
    cp `dirname $0`/nginx.repo /etc/yum.repos.d/
{% endif %}

dnf -y install git

dnf -y install unzip

dnf -y install python3.12

dnf -y install nginx
