{% if doc %}
Install ZeroC IcePy {{ ice_version }}::
{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}

{{ virtualenv_path }}/bin/pip install https://github.com/sbesson/zeroc-ice-py-rockylinux9-x86_64/releases/download/20230719/zeroc_ice-3.6.5-cp39-cp39-linux_x86_64.whl
