{% if doc %}
Copy the generated configuration file into the NGINX configuration directory, disable the default configuration and start NGINX::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

sed -i.bak -re 's/( default_server.*)/; #\1/' /etc/nginx/nginx.conf
if [ -f /etc/nginx/conf.d/default.conf ]; then
    mv /etc/nginx/conf.d/default.conf /etc/nginx/conf.d/default.disabled
fi
cp {{ omero_user_web_dir }}/nginx.conf.tmp /etc/nginx/conf.d/omeroweb.conf

# comment out default server config in nginx.conf
sed -i "/^\s\s\s\sserver/, /^\s\s\s\s}/ s|^|#|" /etc/nginx/nginx.conf

systemctl enable nginx

{% if doc %}
systemctl start nginx
{% else %}
if [ ! -f /.dockerenv ]; then
    systemctl start nginx
fi
{% endif %}
