{% if doc %}
Should you wish to run OMERO.web automatically, a `init.d` script 
could be created::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

{% if doc %}
Create a file omero-web-init.d. See example file below.
cp omero-web-init.d /etc/init.d/omero-web
{% else %}
cp `dirname $0`/omero-web-init.d /etc/init.d/omero-web
{% endif %}
chmod a+x /etc/init.d/omero-web

update-rc.d -f omero-web remove
update-rc.d -f omero-web defaults 98 02

{% if not doc %}
if [ ! "${container:-}" = docker ]; then
    `dirname $0`/run
fi
{% endif %}
