{% if doc %}
Install Redis::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install redis-server

systemctl enable redis-server.service

{% if doc %}
systemctl start redis-server.service
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl start redis-server.service
fi
{% endif %}