{% if doc %}
## Install other dependences
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

apt-get update
apt-get -y install \
    unzip \
    wget \
    git \
    python-{dev,pip,virtualenv}

# require to install Pillow
apt-get -y install \
    libtiff5-dev \
    libjpeg8-dev \
    zlib1g-dev \
    libfreetype6-dev \
    liblcms2-dev \
    libwebp-dev \
    tcl8.6-dev \
    tk8.6-dev
