{% if doc %}
Install other dependencies (run as root)::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

apt-get update
apt-get -y install \
    git \
    python-{dev,pip}

# require to install Pillow
apt-get -y install \
    libtiff5-dev \
    libjpeg8-dev \
    zlib1g-dev \
    libfreetype6-dev \
    liblcms2-dev \
    libwebp-dev \
    tcl8.6-dev \
    tk8.6-dev

# install the latest version
pip install --upgrade pip
pip install virtualenv
