{% if doc %}
Install NGINX::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

#start-install
apt-get update
apt-get -y install nginx

#end-install
sed -i.bak -re 's/( default_server.*)/; #\1/' /etc/nginx/nginx.conf
rm /etc/nginx/sites-enabled/default
cp {{ omero_user_home_dir }}/nginx.conf.tmp /etc/nginx/conf.d/omeroweb.conf

{% if doc %}
service nginx start
{% else %}
if [ ! "${container:-}" = docker ]; then
    service nginx restart
fi
{% endif %}
