{% if doc %}
Should you wish to run OMERO.web automatically, a `systemd.service` script 
could be created::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

{% if doc %}
Create a file omero-web-systemd.service. See example file below.
cp omero-web-systemd.service /etc/systemd/system/omero-web.service
{% else %}
cp `dirname $0`/omero-web-systemd.service /etc/systemd/system/omero-web.service
{% endif %}

{% if doc %}
systemctl daemon-reload
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl daemon-reload
fi
{% endif %}

systemctl enable omero-web.service

{% if doc %}
systemctl start omero-web.service
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl start omero-web.service
fi
{% endif %}
