{% if doc %}
Install ZeroC IcePy {{ ice_version }}::
{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}

# option 1 and option 2
. {{ virtualenv_path }}/bin/activate
pip install --upgrade pip

pip install --upgrade https://github.com/ome/zeroc-ice-py-manylinux/releases/download/0.1.0/zeroc_ice-3.6.5-cp36-cp36m-manylinux2010_x86_64.whl