{% if doc %}
Install ZeroC IcePy {{ ice_version }}::
{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}

{{ virtualenv_path }}/bin/pip install https://github.com/jburel/zeroc-ice-py-centos7/releases/download/0.3.0/zeroc_ice-3.6.5-cp38-cp38-linux_x86_64.whl
