{% if doc %}
Install Redis (run as root)::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install redis python-redis

systemctl enable redis.service

{% if doc %}
systemctl start redis.service
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl start redis.service
fi
{% endif %}
