{% if doc %}
Enable and Start Redis::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

systemctl enable redis.service

{% if doc %}
systemctl start redis.service
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl start redis.service
fi
{% endif %}
