{% if doc %}
Install dependencies::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install epel-release

yum -y install unzip

yum -y install nginx

yum -y install centos-release-scl
yum -y install rh-python38-python

source /opt/rh/rh-python38/enable
