{% if doc %}
Install other dependencies::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install epel-release

yum -y install python-pip

yum -y install nginx

{% if system_site_packages %}
yum -y install \
    python-pillow \
    numpy

{% else %}
yum -y install \
    python-devel \
    libjpeg-devel \
    libtiff libtiff-devel
    zlib-devel
{% endif %}

# install the latest version
pip install --upgrade pip
pip install --upgrade virtualenv
