{% if doc %}
Install other dependences (run as root)::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install epel-release

yum -y install git

yum -y install gcc gcc-c++ zlib-devel

yum -y install \
    python-devel \
    python-pip \
    libjpeg-devel \
    libtiff libtiff-devel

# install the latest version
pip install --upgrade pip
pip install virtualenv
