{% if doc %}
**The following steps are run as root.**

Install NGINX::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

yum -y install nginx

sed -i.bak -re 's/( default_server.*)/; #\1/' /etc/nginx/nginx.conf
if [ -f /etc/nginx/conf.d/default.conf ]; then
    mv /etc/nginx/conf.d/default.conf /etc/nginx/conf.d/default.disabled
fi
cp {{ omero_user_home_dir }}/nginx.conf.tmp /etc/nginx/conf.d/omeroweb.conf

systemctl enable nginx

{% if doc %}
systemctl start nginx
{% else %}
if [ ! "${container:-}" = docker ]; then
    systemctl start nginx
fi
{% endif %}
