{% if doc %}
omero-web-systemd.service example::

{% endif %}
[Unit]
Description=OMERO.web
# Not mandatory, Nginx may be running on a different server
Requires=nginx.service
After=network.service

[Service]
User=omero
Type=forking
PIDFile={{ omero_user_home_dir }}/OMERO.py/var/django.pid
Restart=no
RestartSec=10
Environment="PATH=/home/omero/omerowebvenv/bin:/bin:/usr/bin"
ExecStart=/home/omero/omerowebvenv/bin/python /home/omero/OMERO.py/bin/omero web start
ExecStop=/home/omero/omerowebvenv/bin/python /home/omero/OMERO.py/bin/omero web stop

[Install]
WantedBy=multi-user.target
