{% if doc %}
omero-web-systemd.service example::

{% endif %}
[Unit]
Description=OMERO.web
Requires=nginx.service

[Service]
User=omero
Type=forking
PIDFile={{ omero_user_home_dir }}/OMERO.py/var/django.pid
Restart=on-failure
RestartSec=10
Environment="VENVDIR={{ omero_user_home_dir }}/omerowebvenv" "BINDIR={{ omero_user_home_dir }}/OMERO.py/bin"
ExecStart=/usr/bin/bash -c "source $VENVDIR/bin/activate; $BINDIR/omero web start"
ExecStop=/usr/bin/bash -c "source $VENVDIR/bin/activate; $BINDIR/omero web stop"

[Install]
WantedBy=multi-user.target
