---

- hosts: all
  tasks:
    - name: Clean doc
      file:
        path: "{{ path }}/doc/omeroweb-install-{{ prefix }}.rst"
        state: absent
      when: doc
    - name: Create doc dir
      file:
        path: "{{ path }}/doc"
        state: directory
        mode: 0755

    - name: Generate omeroweb-install-{{ prefix }}.rst
      ansible.builtin.template:
        src: "templates/omeroweb-install-doc.txt.j2"
        # dest: "{{ path }}/doc/omeroweb-install-{{ prefix }}.rst"
        dest: "{{ path }}/doc/omeroweb-install-{{ prefix }}.rst"

    - name: Check what is being generated
      become: true
      ansible.builtin.command:
        cat "{{ path }}/doc/omeroweb-install-{{ prefix }}.rst"
      register: generated_doc
      ignore_errors: yes

    - name: Show output
      debug: 
        msg: "{{ generated_doc.stdout }}"

  vars:
    doc: True
    prefix: "{{ os }}-ice{{ ice_version }}"