{% if doc %}
Install other dependencies::
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

brew install python {% if not doc %} || echo "Python installed?" {% endif %}

pip install --upgrade virtualenv
