{% if doc %}
Install Homebrew in /usr/local::

xcode-select --install

{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

brew update
brew doctor
