{% if doc %}
## Install Homebrew in /usr/local
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

# Update Homebrew
brew update

# Run brew doctor
brew doctor
