{% if doc %}
## Install NGINX
{% else %}
#!/bin/bash

set -e -u -x
{% endif %}

brew install nginx

cp {{ omero_user_home_dir }}/nginx.conf.tmp /usr/local/etc/nginx/servers/omeroweb-nginx.conf

# Restart webserver
brew services restart nginx