{% if doc %}
Install ZeroC IcePy {{ ice_version }}::
{% else %}
#!/bin/bash

set -x

# ZeroC Ice 3.6
{% endif %}

{{ virtualenv_path }}/bin/pip install https://github.com/ome/zeroc-ice-debian10/releases/download/0.1.0/zeroc_ice-3.6.5-cp37-cp37m-linux_x86_64.whl
