{% if doc %}
Install ZeroC IcePy {{ ice_version }}::

{% else %}
#!/bin/bash

set -e -u -x

# ZeroC Ice 3.6
{% endif %}
{{ virtualenv_path }}/bin/pip install https://github.com/ome/zeroc-ice-ubuntu2004/releases/download/0.2.0/zeroc_ice-3.6.5-cp38-cp38-linux_x86_64.whl
