{% if doc %}
Install dependencies:

apt-get update

apt-get -y install unzip
apt-get -y install nginx

apt-get -y install python3
apt-get -y install python3-venv

{% else %}
#!/bin/bash

set -e -u -x
echo 'APT::Install-Recommends 0;' > /etc/apt/apt.conf.d/01norecommends \
 && echo 'APT::Install-Suggests 0;' >> /etc/apt/apt.conf.d/01norecommends

apt-get update

apt-get -y install unzip
apt-get -y install nginx

if [ ! "${PYTHONVER:-}" = 3.6 ]; then
    apt-get install -y software-properties-common
    add-apt-repository ppa:deadsnakes/ppa
    apt-get update
    apt-get install -y python3.6 python3.6-venv python3.6-dev
else
    apt-get -y install python3
    apt-get -y install python3-venv
fi

{% endif %}


