{% if doc %}
If you wish to install with Python 3.6, replace the two commands above by the following ones:

add-apt-repository ppa:deadsnakes/ppa
apt-get update
apt-get install python3.6 python3.6-venv python3.6-dev

{% endif %}


